#db config (PostgreSQL Neon connection string)
DATABASE_URL="postgres://user:password@host:port/dbname?sslmode=require"

#Twitter/X API Configuration
TWITTER_BEARER_TOKEN="your_twitter_bearer_token_here"

# Required for advanced sentiment and stance classification (optional though)
GEMINI_API_KEY="AIzaSy..."